src/datafactory/pipeline/GetPriceSheet.json
{
	"name": "GetPriceSheet",
	"properties": {
		"activities": [
			{
				"name": "GetClientId",
				"description": "Retrieve ClientId from Keyvault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{pipeline().globalParameters.costopt_KeyVaultName}.vault.azure.net/secrets/@{pipeline().globalParameters.costopt_clientId_secretname}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetTenantId",
				"description": "Retrieve TenantId from Keyvault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{pipeline().globalParameters.costopt_KeyVaultName}.vault.azure.net/secrets/@{pipeline().globalParameters.costopt_tenantid_secretname}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "CopyConsumptionAPIPriceSheetData",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "GetClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetTenantId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:10:00",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET",
						"paginationRules": {
							"AbsoluteUrl": "$.properties.nextLink"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings",
							"filePattern": "arrayOfObjects"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['billingPeriodId']"
								},
								"sink": {
									"path": "$['billingPeriodId']"
								}
							},
							{
								"source": {
									"path": "['meterId']"
								},
								"sink": {
									"path": "$['meterId']"
								}
							},
							{
								"source": {
									"path": "['meterDetails']"
								},
								"sink": {
									"path": "$['meterDetails']"
								}
							}
						],
						"collectionReference": "$['properties']['pricesheets']"
					}
				},
				"inputs": [
					{
						"referenceName": "ManagementAPIDataSet",
						"type": "DatasetReference",
						"parameters": {
							"servicePrincipalId": {
								"value": "@activity('GetClientId').output.value",
								"type": "Expression"
							},
							"servicePrincipalSecretKeyName": {
								"value": "@pipeline().globalParameters.costopt_clientsecret_secretname",
								"type": "Expression"
							},
							"tenantId": {
								"value": "@activity('GetTenantId').output.value",
								"type": "Expression"
							},
							"scope": {
								"value": "@pipeline().parameters.scope",
								"type": "Expression"
							},
							"api": "providers/Microsoft.Consumption/pricesheets/default",
							"apiversion": {
								"value": "@pipeline().parameters.ConsumptionAPIVersion",
								"type": "Expression"
							},
							"filter": {
								"value": "&$expand=meterDetails",
								"type": "Expression"
							},
							"KeyVaultName": {
								"value": "@pipeline().globalParameters.costopt_KeyVaultName",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "JsonDataset",
						"type": "DatasetReference",
						"parameters": {
							"StorageAccountName": {
								"value": "@pipeline().globalParameters.costopt_StorageAccountName",
								"type": "Expression"
							},
							"Container": {
								"value": "@pipeline().parameters.Download_StorageBlobContainer",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.Download_StorageBlobDirectory",
								"type": "Expression"
							},
							"FileName": {
								"value": "@pipeline().parameters.DownloadTargetFilename",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"Download_StorageBlobContainer": {
				"type": "string",
				"defaultValue": "aubi"
			},
			"Download_StorageBlobDirectory": {
				"type": "string",
				"defaultValue": "download/pricesheet/"
			},
			"DownloadTargetFilename": {
				"type": "string",
				"defaultValue": "pricesheet.json"
			},
			"scope": {
				"type": "string",
				"defaultValue": "subscriptions/<SubId>"
			},
			"ConsumptionAPIVersion": {
				"type": "string",
				"defaultValue": "2019-10-01"
			}
		},
		"folder": {
			"name": "PriceSheet"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-22T20:01:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}
