src/datafactory/pipeline/GetReservationDetailsReportAsynch.json
{
	"name": "GetReservationDetailsReportAsynch",
	"properties": {
		"activities": [
			{
				"name": "GetClientId",
				"description": "Retrieve ClientId from Keyvault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{pipeline().globalParameters.costopt_KeyVaultName}.vault.azure.net/secrets/@{pipeline().globalParameters.costopt_clientId_secretname}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "GetTenantId",
				"description": "Retrieve TenantId from Keyvault",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://@{pipeline().globalParameters.costopt_KeyVaultName}.vault.azure.net/secrets/@{pipeline().globalParameters.costopt_tenantid_secretname}?api-version=7.0",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "PostReservationDetailsReportRequestAsynch",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GetClientId",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetTenantId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://management.azure.com/@{pipeline().parameters.scope}/providers/Microsoft.CostManagement/generateReservationDetailsReport?api-version=@{pipeline().parameters.CostManagementAPIVersion}&startDate=@{pipeline().parameters.StartDate}&endDate=@{pipeline().parameters.EndDate}",
						"type": "Expression"
					},
					"method": "POST",
					"body": "x",
					"authentication": {
						"type": "ServicePrincipal",
						"userTenant": {
							"value": "@{activity('GetTenantId').output.value}",
							"type": "Expression"
						},
						"username": {
							"value": "@{activity('GetClientId').output.value}",
							"type": "Expression"
						},
						"resource": {
							"value": "https://management.azure.com/",
							"type": "Expression"
						},
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "aubiKeyVault",
								"type": "LinkedServiceReference",
								"parameters": {
									"KeyVaultName": {
										"value": "@pipeline().globalParameters.costopt_KeyVaultName",
										"type": "Expression"
									}
								}
							},
							"secretName": {
								"value": "@pipeline().globalParameters.costopt_clientsecret_secretname",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "DownloadResTransReport",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "PostReservationDetailsReportRequestAsynch",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "HTTPFile",
						"type": "DatasetReference",
						"parameters": {
							"FileURL": {
								"value": "@activity('PostReservationDetailsReportRequestAsynch').output.properties.reportUrl",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "AubiBinaryFile",
						"type": "DatasetReference",
						"parameters": {
							"StorageAccountName": {
								"value": "@pipeline().globalParameters.costopt_StorageAccountName",
								"type": "Expression"
							},
							"Container": {
								"value": "@pipeline().globalParameters.costopt_Container",
								"type": "Expression"
							},
							"Directory": {
								"value": "@pipeline().parameters.Download_StorageBlobDirectory",
								"type": "Expression"
							},
							"FIleName": {
								"value": "@pipeline().parameters.DownloadTargetFilename",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"parameters": {
			"Download_StorageBlobDirectory": {
				"type": "string",
				"defaultValue": "download/resdetails"
			},
			"DownloadTargetFilename": {
				"type": "string",
				"defaultValue": "resdetails.csv"
			},
			"scope": {
				"type": "string",
				"defaultValue": "providers/Microsoft.Billing/billingAccounts/<BillingAccountNum>"
			},
			"CostManagementAPIVersion": {
				"type": "string",
				"defaultValue": "2019-11-01"
			},
			"StartDate": {
				"type": "string",
				"defaultValue": "2021-08-01"
			},
			"EndDate": {
				"type": "string",
				"defaultValue": "2021-08-31"
			}
		},
		"variables": {
			"ReservationDetailsReportLocation": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ReservationDetails"
		},
		"annotations": [],
		"lastPublishTime": "2021-09-22T20:09:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}
